
vitd_env

# Ignore SQLite database
backend/db.sqlite3

# Python cache
**/__pycache__/
*.pyc

# Ignore subset exported
exports/subset_cell_lines_meta.csv
exports/subset_compounds_meta.csv
exports/subset_expression_long.csv
exports/subset_expression_wide_gene_id.csv
exports/subset_expression_wide_symbol.csv
exports/subset_genes_meta.csv
exports/subset_signatures_meta.csv

data/raw_data/cellinfo_beta.txt
data/raw_data/geneinfo_beta.txt
data/raw_data/compoundinfo_beta.txt
data/raw_data/instinfo_beta.txt
data/raw_data/level5_beta_trt_cp_n720216x12328.gctx
data/raw_data/siginfo_beta.txt

data/processed_data/instinfo_vitD_subset.csv
data/processed_data/sig_ids_vitD_filtered.txt
data/processed_data/siginfo_vitD_filtered.csv
data/processed_data/vitD_expression_matrix.csv


data/exports/subset_cell_lines_meta.csv
data/exports/subset_compounds_meta.csv
data/exports/subset_expression_long.csv
data/exports/subset_expression_wide_gene_id.csv
data/exports/subset_expression_wide_symbol.csv
data/exports/subset_genes_meta.csv
data/exports/subset_signatures_meta.csv
